*{
	padding: 0;
	margin: 0;
    overflow: hidden;

    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap'); /* Bold 700 */

#container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 11.45vw 18vw 1.75vw 18vw 1.7vw 18vw 1.7vw 18vw 11.45vw;
    grid-template-rows: 15.2vh 28vh 12.4vh 16vh 2.9vh 16vh 9.5vh;
}

#banner{
    width: 100vw;
    height: 31vh;
}


#toggle{
    position: absolute;
    right: 10vw;
    top: 10vh;

    height: 5vh;
    width: 5vh;

    background-color: blueviolet;
}


.card:hover{
    cursor: pointer;
}

.mainCard{
    width: 18vw;
    height: 28vh;

    border-radius: 0.5vh;

    grid-row: 2;

    overflow: hidden;

    display: grid;
    grid-template-columns: 18vw;
    grid-template-rows: 0.5vh 9vh 9.5vh 9vh;
}

#mainFb{grid-column: 2;}
#mainTwitter{grid-column: 4;}
#mainInsta{grid-column: 6;}
#mainYT{grid-column: 8;}

.cardTop{
    width: 18vw;
    height: 0.5vh;
    grid-row: 1;
}

#mainFb .cardTop{background-color: hsl(208, 92%, 53%);}
#mainTwitter .cardTop{background-color: hsl(203, 89%, 53%);}
#mainInsta .cardTop{background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))}
#mainYT .cardTop{background-color: hsl(348, 97%, 39%);}

.platform, .mainStats, .mainChange{
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform{
    grid-row: 2;
}

.mainStats{
    grid-row: 3;
}

.mainChange{
    grid-row: 4;
}

.upChange, .downChange{
    width: 1.5vw;
    height: 1vh;

    background-size: 100%;
    background-repeat: no-repeat;
}

.upChange{background-image: url(./../assets/icon-up.svg);}
.downChange{background-image: url(./../assets/icon-down.svg);}

.overviewCard{
    width: 18vw;
    height: 16vh;

    border-radius: 0.5vh;
}

#viewsFb, #likesFb, #likesInsta, #viewsInsta{grid-row: 4;}
#retweetsTwitter, #likesTwitter, #likesYT,#viewsYT{grid-row: 6;}

#viewsFb, #retweetsTwitter{grid-column: 2;}
#likesFb, #likesTwitter{grid-column: 4;}
#likesInsta, #likesYT{grid-column: 6;}
#viewsInsta, #viewsYT{grid-column: 8;}


/* Fonts below */
.font3{color: hsl(163, 72%, 41%);}
.font4{color: hsl(356, 69%, 56%);}

.tagFont{
    display: inline-block;

}

.mainNo{
    font-style: bold;
    font-weight: 700;
}

.mainType{
    display: block;
}

.changeFont{
    display: inline-block;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }