.bannerDark{
    background-color: hsl(232, 19%, 15%);
}

.cardDark{
    background-color: hsl(228, 28%, 20%);
}

.fontDark1{color: hsl(0, 0%, 100%);}
.fontDark2{color: hsl(228, 34%, 66%);}

.attributionDark{color: hsl(0, 0%, 100%);}
.attributionDark a {color: hsl(228, 34%, 66%);}

.toggleDark{
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

@media only screen and (min-width: 401px) { /* How the toggle behaves on desktop... */
    @keyframes move-left{
        0% {margin-left: auto;
            margin-right: 0.25vw;
            background-color: hsl(225, 100%, 98%)}

        50% {margin-left: auto;
            margin-right: 2.5vw;
            background-color: hsl(232, 19%, 15%)}

        100% {margin-left: 0.25vw;
            margin-right: auto;
            background-color: hsl(232, 19%, 15%)}
    }

    .toggleDotDark{
        background-color: hsl(232, 19%, 15%);

        animation: move-left 1s;

        margin-left: 0.25vw;
        margin-right: auto;
    }
}

@media only screen and (max-width: 400px) { /* How the toggle behaves on mobile... */
    @keyframes move-left{
        0% {margin-left: auto;
            margin-right: 0.75vw;
            background-color: hsl(225, 100%, 98%)}

        50% {margin-left: auto;
            margin-right: 3.75vw;
            background-color: hsl(232, 19%, 15%)}

        100% {margin-left: 0.75vw;
            margin-right: auto;
            background-color: hsl(232, 19%, 15%)}
    }

    .toggleDotDark{
        background-color: hsl(232, 19%, 15%);

        animation: move-left 0.75s;

        margin-left: 0.75vw;
        margin-right: auto;
    }
}