*{
	padding: 0;
	margin: 0;
    overflow: hidden;
}

.containerDark{
    background-color: hsl(230, 17%, 14%);
}

.bannerDark{
    background-color: hsl(232, 19%, 15%);
}

.cardDark{
    background-color: hsl(228, 28%, 20%);
}