*{
	padding: 0;
	margin: 0;
    overflow: hidden;
}

.containerLight{
    background-color: hsl(0, 0%, 100%);
}

.bannerLight{
    background-color: hsl(225, 100%, 98%);
}

.cardLight{
    background-color: hsl(227, 47%, 96%);
}