*{
	padding: 0;
	margin: 0;
    overflow: hidden;
}

.containerLight{
    background-color: hsl(0, 0%, 100%);
}

.bannerLight{
    background-color: hsl(225, 100%, 98%);
}

.cardLight{
    background-color: hsl(227, 47%, 96%);
}

.fontLight1{color: hsl(230, 17%, 14%);}
.fontLight2{color: hsl(228, 12%, 44%);}